mat-card{
    width:80%;
    display:block;
    margin:20px auto;
}

mat-form-field{
    width:100%;
    margin:0 auto;
    margin-top: 5px;
 }
 mat-card-actions{
     margin-left:2px;
 }

 input[type="file"]{
     visibility: hidden;
 }
 .imagePreview{

    height:90px;
    margin:1 rem 0;
 }
 .imagePreview img{
     height: 100%;
 }